*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box; 
}
body{
    display: flex;
}
.left,.middle{
    width: 33%;
    height: 100vh;
}
.left-box,.middle-box,.right{
    border: 3px solid black;
    box-sizing: border-box;
    margin: 5px;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
}


.box-1{
    height: 49%;
    text-align: center;
    vertical-align: middle;
}
.bottom-box{
    height: 49%;
    display: flex;
}
.box-2{
    width: 40%;
}
.box-3{
    width: 60%;
}


.middle-box{
    height: 19%;
}


.right{
    width: 33%;
    height: 98vh;
}


